@model List<Flower>
@{
    ViewData["Title"] = "SearchResult";
}


<section>
    <div>
        <form method="get" asp-controller="flower" asp-action="searchresult">
            <input name="Name" placeholder="Search..." value="@ViewBag.SearchName">
            <select name="CategoryId">
                <option>Select all</option>
                @foreach (var item in ViewBag.Categories)
	            {
                    <option value="@item.Id">@item.Name</option>
	            }
            </select>
        </form>

    </div>
</section>

@*@if (Model.Count == 0)
{
    <section id="products">
        <div class="container">
            <div class="row">
               <h2> not found</h2>
            </div>
        </div>
    </section>
}*@

    <section id="products">
        <div class="container">
            <div class="row">
                @await Html.PartialAsync("_FlowerPartialView", Model)
            </div>
        </div>
    </section>


