@model Setting
<footer>
    <div class="container">
        <div class="row">
            <div class="top">
                <div class="list col-lg-3 col-md-6 col-12">
                    <h5>CUSTOMER SERVICE</h5>
                    <ul>
                        <li><a href="">Help & Contact Us</a></li>
                        <li><a href="">Returns & Refunds</a></li>
                        <li><a href="">Online Stores</a></li>
                        <li><a href="">Terms & Conditions</a></li>
                    </ul>
                </div>
                <div class="list col-lg-3 col-md-6 col-12">
                    <h5>
                        COMPANY
                    </h5>
                    <ul>
                        <li>
                            <a href="">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Blog
                            </a>
                        </li>
                        <li><a href="">Order Tracking</a></li>
                        <li><a href="">FAQ Page</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Login</a></li>
                    </ul>
                </div>
                <div class="list col-lg-3 col-md-6 col-12">
                    <h5>SOCIAL MEDIA</h5>
                    <ul>
                        <li>
                            <a href="">
                                Twitter
                            </a>
                        </li>
                        <li><a href="">Instagram</a></li>
                        <li><a href="">Linkedin</a></li>
                        <li><a href="">Tumblr</a></li>
                    </ul>
                </div>
                <div class="list col-lg-3 col-md-6 col-12">
                    <h5>ARCHIVE</h5>
                    <ul>
                        <li>
                            <a href="">
                                Designer Shoes
                            </a>
                        </li>
                        <li><a href="">Gallery</a></li>
                        <li><a href="">Pricing</a></li>
                        <li><a href="">Feature Index</a></li>
                        <li><a href="">Login</a></li>
                        <li><a href="">Help & Support</a></li>
                    </ul>
                </div>
            </div>
            <div class="bottom">
                <div class="copyright col-lg-4 col-md-12 col-12">
                    <span>© 2018 <a href="">Qode Interactive</a>, All Rights Reserved</span>
                </div>
                <div class="bankicons col-lg-4 col-md-12 col-12">
                    <img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/footer-bottom-1.png"
                         alt="">
                </div>
                <div class="socialmedia col-lg-4 col-md-12 col-12">
                    <div class="insta">
                        <a target="_blank" href="@Model.InstagramUrl">INSTAGRAM</a>
                    </div>
                    <div class="face">
                        <a target="_blank" href="@Model.FacebookUrl">FACEBOOK</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</footer>